# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Connection String
# For Docker Compose: mongodb://mongo:27017/polarlink?replicaSet=rs0&directConnection=true
# For Local MongoDB: mongodb://localhost:27017/polarlink?replicaSet=rs0&directConnection=true
MONGO_URI=mongodb://mongo:27017/polarlink?replicaSet=rs0&directConnection=true

# Authentication
JWT_SECRET=change-this-secret

